
.dark_theme{
  #background_color{
      background-color: rgb(40,40,40);
      padding:0;
      margin:0 auto;
      padding-top: 7px;
      padding-bottom: 12px;
    }

    .card{
    width: 100%;
    background-color: rgb(24,24,24);
    border-radius: 12px;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    //border-bottom: 1px solid red;
    //border-right: 1px solid red;
    }

    .card_border{
      width: 94%;
      margin: 10px auto;
      padding: 1.5px;
      border-radius: 15px;
      background-image: linear-gradient(to bottom right, coral,red, coral);
    }

    .card_content{
    width: 90%;
    background-color: rgb(24,24,24);
    margin:2px auto;
    margin-bottom: 10px;
    padding-bottom: 3px;
    
    }
    .locked{
    font-size: 20px;
    margin-right: 10px;
    }
    .card_content h5{
    margin:0;
    }
    
    .head_class{
      text-transform: uppercase;
    }
    .toolbar_border{
      border-bottom:1px solid red;
    }
  }



.light_theme{
  #background_color{
      background-color: rgb(242, 242, 242);
      padding:0;
      margin:0 auto;
      padding-top: 7px;
      padding-bottom: 12px;
    }

    .card{
      width: 100%;
      background-color: white;
      border-radius: 12px;
      margin: auto;
      padding-top: 7px;
      padding-bottom: 7px;
      //border-bottom: 1px solid red;
      //border-right: 1px solid red;
    }

    .card_border{
      width: 94%;
      margin: 10px auto;
      padding: 1.5px;
      border-radius: 15px;
      background-image: linear-gradient(to bottom right, rgb(0, 246, 250),rgb(5, 201, 50), rgb(0, 246, 250));
      //background-image: linear-gradient(to bottom right, coral,red, coral);
    }

    .card_content{
      width: 90%;
      background-color: white;
      margin:2px auto;
      margin-bottom: 10px;
      padding-bottom: 3px;
    
    }
    .locked{
      font-size: 20px;
      margin-right: 10px;
    }
    .card_content h5{
      margin:0;
    }
    
    .head_class{
      text-transform: uppercase;
    }
    .toolbar_border{
      border-bottom:1px solid lightgreen;
    }

    --ion-color-medium: white;
    --ion-color-light: black;
    --ion-color-danger: rgb(59, 248, 156);

    --ion-color-primary: white;
    --ion-color-primary-contrast: white;

    --ion-color-primary-shade: white;
    --ion-color-primary-tint: white;

  }