<ion-header class="dark_theme" >
    <ion-toolbar color="primary" class="toolbar_border" >
      <ion-buttons slot="start" >
        <ion-menu-button color="danger"></ion-menu-button>
      </ion-buttons>
      <ion-title  id="head_line" color="danger">
        {{jezik.Pitanja}}
      </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content id="content_id_pitanja" class="dark_theme" style="margin-top:0; padding-top:0px;">
  <div id="background_color">
<div class="card_border" style="margin-top: 0px;">
  <div class="card">
    <div class=card_content>
        <ion-radio-group>
        <ion-list-header color="primary">
        <ion-label class="head_class" color="danger">{{jezik.U_kojem}}</ion-label>
      </ion-list-header>
      <ion-item  color="primary">
        <ion-label style="height: 100px" color="medium"></ion-label>
        <ion-text color="light">
            <h5 style="line-height: 1.3">{{jezik.Nasa_aplikacija}}</h5>
          </ion-text>
      </ion-item>
    </ion-radio-group>
  </div>
</div>
</div>

<div class="card_border">
<div class="card">
    <div class=card_content>
        <ion-radio-group>
        <ion-list-header color="primary">
        <ion-label class="head_class" color="danger">{{jezik.Koji_grad}}</ion-label>
      </ion-list-header>
      <ion-item  color="primary">
        <ion-label style="height: 100px" color="medium"></ion-label>
        <ion-text color="light">
            <h5 style="line-height: 1.3">{{jezik.Cesto_ljudi}}</h5>
          </ion-text>
      </ion-item>
    </ion-radio-group>
  </div>
</div>
</div>

<div class="card_border">
<div class="card">
    <div class=card_content>
    <ion-radio-group>
    <ion-list-header color="primary">
    <ion-label class="head_class" color="danger">{{jezik.Sta_znaci}}</ion-label>
  </ion-list-header>
  <ion-item  color="primary">
    <ion-label style="height: 100px" color="medium"></ion-label>
    <ion-text color="light">
        <h5 style="line-height: 1.3">{{jezik.Nasu_aplikaciju}}</h5>
      </ion-text>
  </ion-item>
</ion-radio-group>
  </div>
</div>
</div>

<div class="card_border">
<div class="card">
    <div class=card_content>
    <ion-radio-group>
    <ion-list-header color="primary">
    <ion-label class="head_class"  color="danger">{{jezik.Dobro}}</ion-label>
  </ion-list-header>
  <ion-item  color="primary">
    <ion-label style="height: 100px" color="medium"></ion-label>
    <ion-text color="light">
        <h5 style="line-height: 1.3">{{jezik.Premium_clan}}</h5>
      </ion-text>
  </ion-item>
</ion-radio-group>
  </div>
</div>
</div>



<div class="card_border">
<div class="card">
    <div class=card_content>
    <ion-radio-group>
    <ion-list-header color="primary">
    <ion-label class="head_class" color="danger">{{jezik.Da_li}}</ion-label>
  </ion-list-header>
  <ion-item  color="primary">
    <ion-label style="height: 100px" color="medium"></ion-label>
    <ion-text color="light">
        <h5 style="line-height: 1.3">{{jezik.Ne_za}}</h5>
      </ion-text>
  </ion-item>
</ion-radio-group>
  </div>
</div>
</div>
<div class="card_border">

<div class="card">
    <div class=card_content>
    <ion-radio-group>
    <ion-list-header color="primary">
    <ion-label class="head_class" color="danger">{{jezik.Koliko_je}}</ion-label>
  </ion-list-header>
  <ion-item  color="primary">
    <ion-label style="height: 100px" color="medium"></ion-label>
    <ion-text color="light">
        <h5 style="line-height: 1.3">{{jezik.Objava_ce}}</h5>
      </ion-text>
  </ion-item>
</ion-radio-group>
  </div>
</div>
</div>
<div class="card_border">
<div class="card">
    <div class=card_content>
    <ion-radio-group>
    <ion-list-header color="primary">
    <ion-label class="head_class" color="danger">{{jezik.Znaci_ako}}</ion-label>
  </ion-list-header>
  <ion-item  color="primary">
    <ion-label style="height: 100px" color="medium"></ion-label>
    <ion-text color="light">
        <h5 style="line-height: 1.3">{{jezik.Rijetke_su}}</h5>
      </ion-text>
  </ion-item>
</ion-radio-group>
  </div>
</div>
</div>
<div class="card_border">
<div class="card">
    <div class=card_content>
    <ion-radio-group>
    <ion-list-header color="primary">
    <ion-label class="head_class" color="danger">{{jezik.Nisam_objavljivao}}</ion-label>
  </ion-list-header>
  <ion-item  color="primary">
    <ion-label style="height: 100px" color="medium"></ion-label>
    <ion-text color="light">
        <h5 style="line-height: 1.3">{{jezik.Postoje_situacije}}</h5>
      </ion-text>
  </ion-item>
</ion-radio-group>
  </div>
</div>
</div>

<div class="card_border">
<div class="card">
    <div class=card_content>
    <ion-radio-group>
    <ion-list-header color="primary">
    <ion-label class="head_class" color="danger">{{jezik.Da_li_je}}</ion-label>
  </ion-list-header>
  <ion-item  color="primary">
    <ion-label style="height: 100px" color="medium"></ion-label>
    <ion-text color="light">
        <h5 style="line-height: 1.3">{{jezik.Cesto_vam}}</h5>
      </ion-text>
  </ion-item>
</ion-radio-group>
  </div>
</div>
</div>
<div class="card_border">
<div class="card">
    <div class=card_content>
    <ion-radio-group>
    <ion-list-header color="primary">
    <ion-label class="head_class" color="danger">{{jezik.Hocu_li}}</ion-label>
  </ion-list-header>
  <ion-item  color="primary">
    <ion-label style="height: 100px" color="medium"></ion-label>
    <ion-text color="light">
        <h5 style="line-height: 1.3">{{jezik.U_tom}}</h5>
      </ion-text>
  </ion-item>
</ion-radio-group>
  </div>
</div>
</div>
<div class="card_border">
<div class="card">
    <div class=card_content>
    <ion-radio-group>
    <ion-list-header color="primary">
    <ion-label class="head_class" color="danger">{{jezik.Postao_sam}}</ion-label>
  </ion-list-header>
  <ion-item  color="primary">
    <ion-label style="height: 100px" color="medium"></ion-label>
    <ion-text color="light">
        <h5 style="line-height: 1.3">{{jezik.Nije_dozvoljeno}}</h5>
      </ion-text>
  </ion-item>
</ion-radio-group>
  </div>
</div>
</div>
<div class="card_border">
<div class="card">
    <div class=card_content>
    <ion-radio-group>
    <ion-list-header color="primary">
    <ion-label class="head_class" color="danger">{{jezik.Da_li_mogu}}</ion-label>
  </ion-list-header>
  <ion-item  color="primary">
    <ion-label style="height: 100px" color="medium"></ion-label>
    <ion-text color="light">
        <h5 style="line-height: 1.3">{{jezik.Da_jedan}}</h5>
      </ion-text>
  </ion-item>
</ion-radio-group>
  </div>
</div>
</div>
<div class="card_border">
<div class="card">
    <div class=card_content>
    <ion-radio-group>
    <ion-list-header color="primary">
    <ion-label class="head_class" color="danger">{{jezik.Napravio_sam}}</ion-label>
  </ion-list-header>
  <ion-item  color="primary">
    <ion-label style="height: 100px" color="medium"></ion-label>
    <ion-text color="light">
        <h5 style="line-height: 1.3">{{jezik.Da_ako}}</h5>
      </ion-text>
  </ion-item>
</ion-radio-group>
  </div>
</div>
</div>
<div class="card_border">
<div class="card">
    <div class=card_content>
    <ion-radio-group>
    <ion-list-header color="primary">
    <ion-label class="head_class" color="danger">{{jezik.Htio_bi}}</ion-label>
  </ion-list-header>
  <ion-item  color="primary">
    <ion-label style="height: 100px" color="medium"></ion-label>
    <ion-text color="light">
        <h5 style="line-height: 1.3">{{jezik.Na_nasoj}}</h5>
      </ion-text>
  </ion-item>
</ion-radio-group>
  </div>
</div>
</div>
<div class="card_border">
<div class="card">
    <div class=card_content>
    <ion-radio-group>
    <ion-list-header color="primary">
    <ion-label class="head_class" color="danger">{{jezik.Kako_cu}}</ion-label>
  </ion-list-header>
  <ion-item  color="primary">
    <ion-label style="height: 100px" color="medium"></ion-label>
    <ion-text color="light">
        <h5 style="line-height: 1.3">{{jezik.Informacije}}</h5>
      </ion-text>
  </ion-item>
</ion-radio-group>
  </div>
</div>
</div>

<div class="card_border">
  <div class="card">
      <div class=card_content>
      <ion-radio-group>
      <ion-list-header color="primary">
      <ion-label class="head_class" color="danger">{{jezik.Evo}}</ion-label>
    </ion-list-header>
    <ion-item  color="primary">
      <ion-label style="height: 100px" color="medium"></ion-label>
      <ion-text color="light">
          <h5 style="line-height: 1.3">{{jezik.Ukoliko}}</h5>
        </ion-text>
    </ion-item>
  </ion-radio-group>
    </div>
  </div>
  </div>
    </div> 
  </ion-content>
