.dark_theme{

    .info_apk{
        width: 96%;
        margin: 0 auto;
        height: 65px;
        background-color: black;
        margin-bottom: 2px;
    }
    .apk_detail{
        color:gray;
    }
    .apk_detail h5{
        color:gray;
        padding: 4px;
        margin: 0px;
        text-align: center;
        padding-bottom: 0px;
    }
    .apk_detail p{
        color:gray;
        padding: 4px;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 12px;
        margin: 0px;
        text-align: center;
    }
    .profile_card{
        width: 90%;
        height: 205px;
        border-bottom: 1px solid gray;
        margin: 0 auto;
    }
    .profile_icon{
        width:78px;
        height: 78px;
        border: 2px solid gray;
        border-radius: 50%;
        margin: 17px;
        margin-bottom: 75px;
        background-color: black;
        float:left;
    }
    .profile_head{
        color:gray;
        font-size: 12px;
        float:left;
        width: 130px;
        margin:0px;
        margin-top: 12px;
    }
    .profile_main{
        color:gray;
        font-size: 15px;
        float:right;
        max-width: 230px;
        margin:0px;
        text-align: right;
        min-width: 80px;
        margin-top: 4px;
    }

    #user_profile{
        width:96%;
        height: 140px;
        //background-color: gray;
        border-radius: 10px;
        margin:0 auto;
        margin-bottom: 40px;
    }
    .background_color{
        padding-top: 10px;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgb(24,24,24),rgb(240,65,65),rgb(240,65,65),rgb(240,65,65),rgb(24,24,24));
        //background-image: linear-gradient(white,rgb(59, 248, 156),rgb(59, 248, 156),rgb(59, 248, 156),white);
        background-size: 100% 100%;

    }
    #user_profile img{
        width: 65px;
        height: 65px;
        border-radius: 50%;
        margin: 2.5px;

    }
    #user_profile p{
    color:white;
    text-align: center;
    margin-top:2px;
    margin-bottom: 2px;
    
    }


    .item.item-trns{
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: black; 
    }

    .menu_card{
        width:96%;
        height: 320px;
        //background-color: #5d5d5d;
        border-radius: 10px;
        margin:10px auto;
    }
    .options_card{
        width:90%;
        height: 55px;
        //background-color: black;
        margin:0px;
        margin-top: 18px;
        color:gray;
        border-radius: 12px;
        border-bottom:1px solid red;
        border-right:1px solid red;

    }
}







.light_theme{
    .info_apk{
        width: 96%;
        margin: 0 auto;
        height: 65px;
        background-color: black;
        margin-bottom: 2px;
    }
    .apk_detail{
        color:gray;
    }
    .apk_detail h5{
        color:gray;
        padding: 4px;
        margin: 0px;
        text-align: center;
        padding-bottom: 0px;
    }
    .apk_detail p{
        color:gray;
        padding: 4px;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 12px;
        margin: 0px;
        text-align: center;
    }
    .profile_card{
        width: 90%;
        height: 205px;
        border-bottom: 1px solid gray;
        margin: 0 auto;
    }
    .profile_icon{
        width:78px;
        height: 78px;
        border: 2px solid gray;
        border-radius: 50%;
        margin: 17px;
        margin-bottom: 75px;
        background-color: black;
        float:left;
    }
    .profile_head{
        color:gray;
        font-size: 12px;
        float:left;
        width: 130px;
        margin:0px;
        margin-top: 12px;
    }
    .profile_main{
        color:gray;
        font-size: 15px;
        float:right;
        max-width: 230px;
        margin:0px;
        text-align: right;
        min-width: 80px;
        margin-top: 4px;
    }

    #user_profile{
        width:96%;
        height: 140px;
        //background-color: gray;
        border-radius: 10px;
        margin:0 auto;
        margin-bottom: 40px;
    }
    .background_color{
        padding-top: 10px;
        width: 100%;
        height: 100%;
        //background-image: linear-gradient(rgb(24,24,24),rgb(240,65,65),rgb(240,65,65),rgb(240,65,65),rgb(24,24,24));
        background-image: linear-gradient(white,rgb(59, 248, 156),rgb(59, 248, 156),rgb(59, 248, 156)
        ,white);
        background-size: 100% 100%;

    }
    #user_profile img{
        width: 65px;
        height: 65px;
        border-radius: 50%;
        margin: 2.5px;

    }
    #user_profile p{
    color:black;
    text-align: center;
    margin-top:2px;
    margin-bottom: 2px;
    
    }


    .item.item-trns{
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: black; 
    }

    .menu_card{
        width:96%;
        height: 320px;
        //background-color: #5d5d5d;
        border-radius: 10px;
        margin:10px auto;
    }
    .options_card{
        width:90%;
        height: 55px;
        //background-color: black;
        margin:0px;
        margin-top: 18px;
        color:gray;
        border-radius: 12px;
        border-bottom:1px solid red;
        border-right:1px solid red;

    }
    .title_border{
        border-right: 1px solid rgb(59,248,156)
    }


    /*--ion-color-tertiary: black;
    --ion-color-tertiary-rgb: 0, 0, 0;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
  
    --ion-color-medium: black;
    --ion-color-danger: rgb(59, 248, 156);
    --ion-color-light: rgb(57, 57, 57);
    --ion-color-danger-contrast: rgb(57, 57, 57);
    --ion-color-danger-contrast-rgb: 57, 57, 57;
    --ion-color-primary: white;
  
    --ion-color-primary-shade: rgb(59, 248, 156);
    --ion-color-light-shade: black;
    --ion-color-light-tint: black;
    --ion-color-primary-contrast: black;*/

    --ion-color-primary: white;
    --ion-color-danger: rgb(59, 248, 156);
    --ion-color-tertiary: black;
}
